.details-card {
    background-color: rgba(237, 245, 252, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 900px;
    border-radius: 20px;
}

.header-details {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
}

.show-title {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 20px;
}


.detail-image {
    width: 900px;
    height:200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description {
    color:white;
    margin: 30px;
    text-align: justify;
}

.info .card-tags  {
    justify-content: center;
}

.info .card-tags .tag {
    float: none;
    position: relative;
    justify-content: center;
}
